@import "./header.css";
@import "./footer.css";
@import "./main.css";

:root{
    --base-size-0: 0rem;
    --base-size-4: 0.25rem;
    --base-size-8: 0.5rem;
    --base-size-12: 0.75rem;
    --base-size-16: 1rem;
    --base-size-32: 2rem;
    --base-size-48: 3rem;

    --header-bg: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-fg-muted: #656d76;
    --color-btn-border: rgba(31,35,40,0.15);
    --color-fg-default: #1F2328;

    --borderWidth-thin: max(1px, 0.0625rem);

    --borderRadius-medium: 0.375rem;
    --borderRadius-full: 50%;  
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
   margin: var(--base-size-0);
   font-family:"Noto Sans","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
   line-height: 1.5;
   font-size: 14px;
   color: var(--color-fg-default)
}

.border{
   border: var(--borderWidth-thin, 1px) solid var(--color-border-default);
   border-radius: var(--borderRadius-medium, 6px);
}

.circle{
    border-radius: var(--borderRadius-full, 50%);
}

a{
    text-decoration: none;
    color: #0969DA;
}

ul{
    list-style: none;
}

.text-decoration-none{
  text-decoration: none;
}

.link-primary{
    color: var(--color-fg-default);
}
.link-secondary{
    color: var(--color-fg-muted);
}

.text-bold{
    font-weight: 600;
    color: var(--color-fg-default);
}

.icon{
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-top;
    fill: currentColor;
}

.pt-1{
    padding-top: 4px;
}

.mt-2{
    margin-top: 8px;
}

.mr-3{
    margin-right: 16px;
}

h3{
    font-size: 20px;
    font-weight: 600;
}



.color-fg-muted{
    color: var(--color-fg-muted);
}

.w-0{
    width: 0%;
}

.btn {
    padding: 5px 16px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    color: #24292F;
    background-color: #F6F8FA;
    display: block;
    width: 100%;
    border-color: var(--color-btn-border);
}



@media only screen and (max-width: 768px) {
    .btn-sm{
         padding: 3px 12px;
         font-size: 12px;
         line-height: 20px;
    }
 }